html body {
  background-image: url(https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif);
  
}

h1{
  background-color: green;
}

h2{
  background-color: green;
}

h3{
  background-color: green;
}

p{
 color: lightgreen; 
}

div {
 color:lightblue; 
}
